<header>
  <div class="header-container">
    <div class="logo">
      <img src="../assets/img/rxjs.png" alt="">
    </div>
    <h2 class="logo-text">Angular Fly to cart</h2>
    <!--<ul class="nav">-->
      <!--<li><a routerLink="/home">首页</a></li>-->
      <!--<li><a routerLink="/operators">operators</a></li>-->
      <!--<li><a routerLink="/animates">animate</a></li>-->
    <!--</ul>-->
    <ul class="nav nav-right">
      <li class="icon-li" id="cart"><a href="">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="badge text-danger cart">{{total}}</span>
      </a>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</header>
